.button {
  display: inline-block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;

  .font(bold; 17px; 20px);
  color: #444444;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;

  border: 2px solid #444444;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button__review {
  padding-top: 16px;
  padding-bottom: 16px;

  border: 1px solid #f9f9f9;
  font-size: 0;

  &--prev {
    border-left: none;

    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
    opacity: 0.6;
  }

  &:active {
    background-color: #ffffff;
    opacity: 0.3;
  }
}

.button__modal {
  border: none;
  background-color: #63d1bb;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .button__review {
    border: none;
    padding-top: 25px;
  }
}
