.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: 668px;
    padding-top: 78px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 1050px;
    padding-top: 128px;
  }
}
