.contacts{
  .font(normal; 15px; 30px);
}

.contacts__wrapper{
  padding: 40px 30px;
}

.contacts__title{
  margin: 0;
  margin-bottom: 30px;

  .font(bold; 18px; 30px);
}

.contacts__list{
  .list-style();
}

.contacts__item{
  margin: 0;
  margin-bottom: 33px;
}

.contacts__mail{
  color: #000000;
  text-decoration-color: #62d1ba;
}

.contacts__address{
  display: inline-block;
  font-style: normal;
  vertical-align: top;
}

.contacts__image{
  margin-bottom: 40px;
}
