.contacts {
  .font(normal; 15px; 30px);
}

.contacts__wrapper {
  position: relative;
  padding: 40px 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 30px;

  .font(bold; 18px; 30px);
}

.contacts__list {
  .list-style();
}

.contacts__item {
  margin: 0;
  margin-bottom: 33px;
}

.contacts__mail {
  color: #000000;
  text-decoration-color: #62d1ba;
}

.contacts__address {
  display: inline-block;
  font-style: normal;
  vertical-align: top;
}

.contacts__image {
  margin-bottom: 40px;

  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts {
    .font(normal; 17px; 30px);
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;

    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__title {
    .font(bold; 43px; 50px);
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__button {
    margin: 0 auto;
    width: 30%;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    padding-left: 225px;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__image {
    position: absolute;
    top: 50px;
    right: 50px;

    width: 50%;
  }

  .contacts__button {
    margin-left: 0;
  }
}
