.contacts {
  .font(normal; 15px; 30px);
}

.contacts__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 34px;
}

.contacts__title {
  margin: 0 30px 26px;

  .font(bold; 18px; 30px);
}

.contacts__list {
  .list-style();
  margin: 0 30px 35px;
}

.contacts__item {
  margin: 0;
  margin-bottom: 31px;
}

.contacts__mail {
  padding-left: 26px;
  color: #000000;
  text-decoration-color: #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__address {
  display: inline-block;

  width: 183px;
  padding-left: 29px;

  font-style: normal;
  vertical-align: top;
}

.contacts__map {
  position: relative;
  z-index: 3;

  border: none;

  margin: 0 auto;
  margin-bottom: 30px;
}

.contacts__image {
  position: absolute;
  top: 306px;
  left: 0;
  z-index: 1;

  width: 320px;
  height: 457px;

  text-align: center;
}

.contacts__pin {
  position: absolute;
  top: 453px;
  right: 114px;

  z-index: 2;
}

.contacts__button {
  width: 260px;
  margin: 0 30px 40px;
}

@media (min-width: @tablet-width) {
  .contacts {
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top;

    .font(normal; 17px; 30px);
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;

    width: 768px;
    margin: 0 auto;
    padding-top: 77px;
  }

  .contacts__title {
    position: relative;

    margin: 0 50px 50px 47px;

    .font(bold; 43px; 50px);

    &::after {
      content: "";
      width: 50px;
      height: 81px;

      position: absolute;
      top: -15px;
      right: -1px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 50px 56px;
  }

  .contacts__item {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__mail {
    padding-left: 20px;
  }

  .contacts__address {
    width: 255px;
    padding-left: 22px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;

    margin-bottom: 55px;
  }

  .contacts__image {
    top: 324px;
    width: 768px;
    height: 457px;

    margin: 0;
  }

  .contacts__pin {
    top: 461px;
    right: 338px;
  }

  .contacts__button {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 175px;
    padding-top: 165px;
  }

  .contacts__title {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    margin-left: -6px;

    .font(bold; 53px; 57px);

    &::after {
      top: -8px;
      left: -107px;
    }
  }

  .contacts__list {
    flex-direction: column;
    margin: 0;
    margin-bottom: 54px;
  }

  .contacts__item {
    margin-bottom: 27px;
  }

  .contacts__map {
    position: absolute;
    top: 94px;
    right: 0;

    width: 525px;
    height: 457px;
  }

  .contacts__image {
    position: absolute;
    top: 94px;
    left: 525px;

    width: 525px;
    height: 457px;
  }

  .contacts__pin {
    top: 240px;
    right: 220px;
  }

  .contacts__button {
    margin-left: 0;
    margin-bottom: 105px;
  }
}
