.filter {
  border: none;
  border-top: 1px solid #62d1ba;
}

.filter__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  padding-right: 28px;

  .font(bold; 17px; 16px);
  color: #63d1bb;
  text-transform: uppercase;
}

.filter__label {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  .font(bold; 17px; 18px);

  &--radio,
  &--checkbox {
    padding: 12px 0 12px 63px;
  }

  &--textarea {
    margin: 0;
  }
}

.filter__wrapper {
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.filter__input {
  width: 100%;
  padding: 0;
  padding-bottom: 16px;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #000000;

  &::-webkit-input-placeholder {
    .font(normal; 17px; 18px);
    color: rgba(68, 68, 68, 0.3);
  }
}

.filter__textarea {
  width: 100%;
  padding: 17px;

  border: 2px solid #000000;

  &::-webkit-input-placeholder {
    .font(normal; 17px; 18px);
    color: rgba(68, 68, 68, 0.3);
  }
}
