.hit {
  background-color: #ffffff;
  .font(normal; 15px; 24px);
}

.hit__wrapper {
  position: relative;
  width: 81%;
  margin: 0 auto;
  padding-top: 30px;
}

.hit__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  .font(bold; 25px; 30px);
}

.hit__lider {
  margin: 0;
  padding: 0;
  .font(bold; 17px; 20px);
  text-transform: uppercase;
  color: #63d1bb;
}

.hit__description {
  margin: 20px 0;
  padding: 0;
}

.hit__characteristic {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  width: 100%;

  font-size: 15px;
  line-height: 20px;
}

.hit__image {
  margin: 0;
  margin-bottom: 27px;
}

.hit__summ {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  .font(bold);
  text-align: center;
}

.hit__button {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .hit {
    .font(normal; 17px; 30px);
  }

  .hit__wrapper {
    width: 668px;
    padding-top: 50px;
  }

  .hit__title {
    .font(bold; 43px; 50px);
  }

  .hit__lider {
    position: absolute;
    top: 61px;
    right: 0;

    width: 72px;

    .font(bold; 17px; 17px);
  }

  .hit__description {
    margin-right: 44px;

    width: 50%;
  }

  .hit__characteristic {
    margin-right: 44px;

    width: 50%;
  }

  .hit__image {
    position: absolute;
    top: 90px;
    right: 50px;
  }

  .hit__summ {
    margin-right: 44px;

    width: 50%;

    font-size: 20px;
    line-height: 24px;
  }

  .hit__button {
    margin-right: 44px;

    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .hit__wrapper {
    width: 700px;
    padding-top: 130px;
  }

  .hit__title {
    .font(bold; 53px; 57px);
  }

  .hit__lider {
    position: absolute;
    top: 140px;
    left: -130px;
  }

  .hit__description {
    margin-right: 58px;
  }

  .hit__image {
    position: absolute;
    top: 70px;
    right: -175px;

    width: 50%;
  }

  .hit__button {
    margin-right: 58px;
  }
}
