.hit {
  position: relative;

  background-color: #ffffff;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom left;

  .font(normal; 15px; 24px);
}

.hit__wrapper {
  position: relative;

  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
}

.hit__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  .font(bold; 25px; 30px);
}

.hit__lider {
  margin: 0;
  padding: 0;

  .font(bold; 17px; 20px);
  text-transform: uppercase;
  color: #63d1bb;
}

.hit__description {
  margin: 20px 0 16px 0;
  padding: 0;
}

.hit__characteristic {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  width: 100%;

  font-size: 15px;
  line-height: 20px;

  border-collapse: collapse;
}

.hit__characteristic td {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;

  &:nth-child(2n) {
    padding-left: 17px;
  }
}

.hit__image {
  width: 260px;
  height: 315px;
  margin: 0;
  margin-bottom: 16px;
}

.hit__summ {
  display: block;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  .font(bold);
  text-align: center;
}

.hit__button {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .hit {
    margin-top: -12px;

    .font(normal; 17px; 30px);

    background-color: transparent;
    background-image: url("../img/bg-zigzag-fill.svg"),
      url(../img/bg-zigzag-line.svg);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top, center bottom;
  }

  .hit__wrapper {
    width: 668px;
    padding-top: 60px;
  }

  .hit__title {
    margin-bottom: 50px;
    margin-left: -3px;
    .font(bold; 43px; 50px);
  }

  .hit__lider {
    position: absolute;
    top: 72px;
    right: 26px;

    width: 72px;
    text-align: center;

    .font(bold; 17px; 17px);
  }

  .hit__description {
    margin: 0;
    margin-bottom: 36px;

    width: 291px;
  }

  .hit__characteristic {
    margin-bottom: 57px;

    width: 291px;
  }

  .hit__characteristic td {
    padding: 10px 0 9px;

    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  .hit__image {
    position: absolute;
    top: 167px;
    right: 0;

    width: 334px;
    height: 404px;

    margin: 0;

    z-index: 0;
  }

  .hit__summ {
    margin-bottom: 35px;

    width: 291px;

    font-size: 20px;
    line-height: 24px;
  }

  .hit__button {
    width: 291px;

    margin-bottom: 70px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    margin-top: -19px;

    background-repeat: no-repeat;
  }

  .hit__wrapper {
    width: 700px;
    padding-top: 149px;
  }

  .hit__title {
    position: absolute;
    top: 146px;
    left: -2px;

    .font(bold; 53px; 57px);

    z-index: 10;
  }

  .hit__lider {
    position: absolute;
    top: 161px;
    left: -130px;
  }

  .hit__description {
    width: 293px;
    margin-top: 104px;
    margin-bottom: 47px;
  }

  .hit__characteristic {
    width: 293px;

    margin-bottom: 106px;
  }

  .hit__characteristic td {
    padding: 10px 0;
  }

  .hit__image {
    position: absolute;
    top: 94px;
    right: -175px;

    width: 525px;
    height: 636px;

    z-index: 1;
  }

  .hit__button {
    width: 293px;
    margin-bottom: 98px;
  }
}
