.hit {
  background-color: #ffffff;
  .font(normal);
  font-size: 15px;
  line-height: 24px;
}

.hit__wrapper {
  padding-left: 30px;
  padding-top: 31px;
  padding-right: 30px;
  padding-bottom: 36px;
  text-align: center;
}

.hit__title {
  .font(bold);
  font-size: 25px;
  line-height: 30px;
}

.hit__lider {
  .font(bold);
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.hit__descriprion {
  font-size: 15px;
  line-height: 20px;
}
