.logo {
  margin: 0 auto;

  &--header {
    margin-top: 20px;
  }

  &--footer {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    margin-left: 0;

    &--header {
      order: -2;
    }

    &--footer {
      display: block;
      width: 33%;
      margin: 0;
      padding-top: 15px;
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    &--header {
      margin-top: 10px;

      order: -1;
    }
  }
}
