.main__item {
  padding-top: 70px;
  padding-bottom: 75px;

  background-color: #f1f1f1;
}

.main__title {
  margin: 0;

  .font(bold; 27px; 30px);

  text-align: center;
}

.main__wrapper {
  width: 81%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main__item {
    margin-top: -65px;
    padding-top: 97px;
    padding-bottom: 80px;

    border-top: 1px solid #e7e7e7;
  }

  .main__title {
    .font(bold; 43px; 50px);
  }

  .main__wrapper {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .main__item {
    padding-top: 95px;
    padding-bottom: 102px;
}
  .main__wrapper {
    width: 1050px;
  }

  .main__title {
    .font(bold; 53px; 57px);
  }
}
