.main__item {
  padding: 70px 40px 75px;

  background-color: #f1f1f1;
}

.main__title {
  .font(bold; 27px; 30px);

  text-align: center;
}

.main__wrapper {
  padding: 25px 30px 55px;
}

@media (min-width: @tablet-width) {
  .main__title {
    .font(bold; 43px; 50px);
  }

  .main__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    .font(bold; 53px; 57px);
  }
}
