.making {
  margin-bottom: 57px;
}

.making__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;

  border: 1px solid #ededed;
}

.making__title {
  position: relative;
  margin: 24px 0;
  padding: 0;
  padding-left: 91px;

  .font(bold);
}

.making__title::before {
  content: "";
  width: 33px;
  height: 27px;

  position: absolute;
  top: 6px;
  left: 33px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.making__video{
  position: relative;
  margin-bottom: 25px;
}

.making__image {
  width: 260px;
  height: 150px;
}

.making__play {
  position: absolute;
  top: 36px;
  left: 73px;

  border: none;
  background: none;

  font-size: 0;
}

.making__item {
  width: 192px;
  margin: 0 auto;
}

.making__descriprion {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  .font(normal; 13px; 24px);
}

.making__button {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .making {
    margin-bottom: 62px;
  }

  .making__wrapper {
    display: flex;
    flex-direction: column;

    width: 668px;
  }

  .making__video {
    margin-bottom: 9px;

    order: -1;
  }

  .making__play {
    top: 186px;
    left: 278px;
  }

  .making__image {
    width: 668px;
    height: 455px;
  }

  .making__item {
    width: 584px;
  }

  .making__title {
    padding-left: 106px;
    margin-bottom: 32px;

    .font(bold; 20px; 24px);
  }

  .making__title::before {
    top: -4px;
    left: 42px;
}

  .making__descriprion {
    margin-bottom: 35px;

    .font(normal; 15px; 30px);
  }

  .making__button {
    margin-bottom: 46px;
  }
}

@media (min-width: @desktop-width) {
  .making {
    margin-bottom: 103px;
  }

  .making__wrapper {
    display: flex;
    flex-direction: column;

    width: 1050px;
  }

  .making__video {
    position: absolute;
  }

  .making__image {
    width: 683px;
    height: 455px;
  }

  .making__play {
    top: 188px;
    left: 286px;
  }

  .making__title {
    width: 148px;
    margin-left: 760px;
    padding-left: 0;
    padding-top: 74px;
  }

  .making__title::before {
    top: 18px;
    left: 2px;
  }

  .making__item {
    width: 231px;
    margin-left: auto;
    margin-right: 57px;
  }

  .making__descriprion {
    margin-bottom: 47px;
  }

  .making__button {
    margin-bottom: 58px;
  }
}
