.making {
    position: relative;
}

.making__wrapper {
  margin: 0;
  margin-bottom: 60px;
  padding: 0 30px;
}

.making__item {
  margin: 0;

  border: 1px solid #f9f9f9;

  &--title {
    padding: 25px 40px;
  }

  &--description {
    padding: 35px;
  }
}

.making__title {
  margin: 0;
  padding: 0;
  padding-left: 50px;

  .font(bold);
}

.making__descriprion {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  .font(normal; 13px; 24px);
}

@media (min-width: @tablet-width) {
  .making__wrapper {
    display: flex;
    flex-direction: column;

    padding-left: 50px;
    padding-right: 50px;
  }

   .making__video {
     order: -1;
   }

   .making__item {
     &--title {
       padding-left: 108px;

       border-bottom: none;
     }

     &--description {
       padding-left: 42px;
       padding-right: 42px;

       border-top: none;
     }
   }

   .making__title {
     .font(bold; 20px; 24px);
   }

   .making__descriprion {
     .font(normal; 15px; 30px);
   }
}

@media (min-width: @desktop-width) {
  .making__video {
    position: absolute;
  }

  .making__item {
    width: 50%;
    margin-left: auto;
  }
}
