.navigation {
  width: 100%;

  &--main {
    border-top: 1px solid #ececec;
  }

  &--popular {
    display: none;
  }
}

.navigation__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec;

  &:hover .navigation__link,
  &:focus .navigation__link {
    color: rgba(0, 0, 0, 0.6)
  }

  &:hover path,
  &:focus path {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .navigation__link {
    color: rgba(0, 0, 0, 0.3)
  }

  &:active path {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.navigation__link {
  position: relative;
  display: block;
  padding: 27px 0 27px 76px;

  .font(bold);
  color: #000000;
  text-decoration: none;

  &--search svg,
  &--basket svg {
    position: absolute;
    top: 32px;
    left: 33px;
  }
}

@media (min-width: @tablet-width) {
  .navigation {
    width: 50%;

    &--main {
      border: none;
    }

    &--user {
      width: 348px;
      order: -1;
    }
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .navigation__item {
    border-bottom: none;
  }

  .navigation__link {
    display: block;
    padding: 31px 0;

    .font(bold; 15px; 24px;);
    color: #000000;
    text-decoration: none;

    &--main {
      width: 167px;

      padding: 20px 0;
    }

    &--search {
      width: 86px;
      padding: 32px 36px;
      font-size: 0;

      border-left: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
    }

    &--basket {
      padding-left: 80px;

      font-size: 17px;
    }

    &--search svg {
      top: 36px;
      left: 34px;
    }

    &--basket svg {
      top: 35px;
      left: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    width: 42%;

    &--user {
      order: -1;
    }

    &--main {
      order: -2;
    }

    &--popular {
      display: block;
      width: 50%;
    }
  }

  .navigation__item {
    border-bottom: none;
  }

  .navigation__link {
    .font(bold; 17px; 24px);

    &--main {
      padding: 32px 0;
    }

    &--popular {
      padding: 20px 0;

      .font(bold; 15px; 24px;);
      color: #000000;
      text-decoration: none;
    }

    &--catalog {
      width: 185px;

      border-right: 1px solid #e7e7e7;
    }

    &--new {
      width: 185px;
    }

    &--knitting,
    &--sale {
      width: 200px;
      padding-left: 36px;
    }

    &--search {
      font-size: 0;

      padding: 32px 36px;
    }

    &--basket {
      width: 266px;
      padding: 32px 0 32px 84px;
    }
  }

  .navigation__list {
    &--user {
      justify-content: flex-end;
    }
  }
}
