.order__intro {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  .font(normal; 13px; 24px);
}

.order__item {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  &--last {
    margin-bottom: 13px;
  }

  &--note {
    display: block;
    margin-bottom: 31px;
  }
}

.order__note {
  margin: 0;
  padding: 0;

  .font(normal; 14px; 16px);
}

.order__button {
  margin-bottom: 54px;
}

@media (min-width: @tablet-width) {
  .order {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .order__intro {
    margin: 0 50px 5px;

    .font(normal; 17px; 30px);
  }

  .order__item {
    width: 100%;
    margin-bottom: 0;

    &--gray {
      background-color: #f1f1f1;
    }

    &--note {
      width: 302px;
      margin-left: auto;

      order: 2;
    }
  }

  .order__item-wrapper {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .order__note {
    padding-top: 10px;
    .font(normal; 17px; 30px);
  }

  .order__button {
    width: 229px;
    margin-bottom: 50px;

    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .order__intro {
    width: 700px;
    margin: 0 auto 6px;
  }

  .order__item-wrapper {
    width: 700px;
  }

  .order__button {
    width: 230px;
  }
}
