.order__intro{
  margin: 0px;
  margin-bottom: 27px;
  padding: 0px;

  .font(normal; 13px; 24px)
}

.order__item{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 34px;
  padding: 0px;

  &--last{
    margin-bottom: 18px;
  }
}

.order__note{
  margin: 0;
  padding: 0;
}
