.product {
  margin: 0 auto 30px;
}

.product__wrapper {
  padding: 28px;

  text-align: left;

  border: 1px solid #f9f9f9;
}

.product__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  .font(bold);
}

.product__descriprion {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  .font(normal; 13px; 30px);
}

.product__summ {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  .font(bold; 15px; 24px)
}

.product__button {
  display: inline-block;
}
