.review {
  .font(normal; 15px; 30px);
}

.review__wrapper {
  padding: 30px 30px 48px;
}

.review__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  .font(bold; 25px; 30px);
}

.review__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.review__author-name {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  .font(bold);
}

.review__author-mail {
  margin: 0;
  padding: 0;

  .font(normal; 17px; 30px);
  color: #000000;
  text-decoration: none;
}

.review__toggles {
  display: flex;
  .list-style();
  margin-bottom: 40px;
}

.review__button {
  width: 50%;
}

@media (min-width: @tablet-width) {
  .review {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    .font(normal; 17px; 30px);
  }

  .review__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 50px;
    padding-right: 50px;
  }

  .review__title {
    order: -2;
    .font(bold; 43px; 50px);
  }

  .review__toggles {
    width: 50%;
  }

  .review__letter {
    width: 50%;
    order: -1;
  }
}

@media (min-width: @desktop-width) {
    .review__wrapper {
      padding-left: 225px;
    }

    .review__title {
      .font(bold; 53px; 57px);
    }
}
